.forgot-container {
   margin: 200px auto;
   width: 400px;
   height: 588px;
   display: flex;
   flex-direction: column;

   .forgot-container_logo {
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin-bottom: 80px;

      img {
         width: 180px;
         height: 32px;
      }
   }
   .forgot-container_title {
      font-size: 30px;
      font-weight: bold;
      font-family: 'BasisGrotesquePro-Bold';
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin-bottom: 30px;
   }

   .forgot-container_form {
      form {
         display: flex;
         flex-direction: column;

         input {
            position: relative;
            padding: 14px 12px;
            border: 1.2px solid #D3D8DC;
            border-radius: 6px;
            margin-bottom: 30px;
            width: -webkit-fill-available;
         }

         .alert {
            border: 1.2px solid red;
         }

         button {
            font-family: 'BasisGrotesquePro-Medium';
            font-size: 16px;
            height: 48px;
            line-height: 21px;
            color: black;
            background-color: white;
            border: 1.2px solid #D3D8DC;
            border-radius: 6px;
            margin-bottom: 20px;
            cursor: pointer;

            &[type="submit"] {
               background-color: #316FEA;
               color: white;
            }
         }
      }
   }
}