.new-pass-container {
   margin: 200px auto;
   width: 400px;
   height: 588px;
   display: flex;
   flex-direction: column;

   .new-pass-container_logo {
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin-bottom: 80px;

      img {
         width: 180px;
         height: 32px;
      }
   }
   .new-pass-container_title {
      font-size: 30px;
      font-weight: bold;
      font-family: 'BasisGrotesquePro-Bold';
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin-bottom: 30px;
   }

   .new-pass-container_form {
      form {
         display: flex;
         flex-direction: column;

         input {
            position: relative;
            padding: 14px 12px;
            border: 1.2px solid #D3D8DC;
            border-radius: 6px;
            margin-bottom: 15px;
            width: -webkit-fill-available;

            &:first-child {
               margin-bottom: 30px;
            }
         }
         .alert {
            border: 1.2px solid red;
         }
         .form-pass-container {
            position: relative;
            width: 100%;

            img {
               position: absolute;
               cursor: pointer;
               top: 35px;
               right: 17px;
               width: 18px;
               height: 13.58px;
            }
         }

         button {
            font-family: 'BasisGrotesquePro-Medium';
            font-size: 16px;
            height: 48px;
            line-height: 21px;
            color: white;
            background-color: #316FEA;
            border: none;
            border-radius: 6px;
            margin-bottom: 20px;
            cursor: pointer;
         }
      }
   }
}